@model Nhom19_QuanLyLuuTruDienTu.models.Account
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "";

}

<link href="~/Content/Login.css" rel="stylesheet" />
<div class="animated bounceInDown">
    <div class="container" style="height:400px;">
        <span class="error animated tada" id="msg"></span>
        @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post, new { @class = "box" }))
        {
    <form name="form1" class="box" action="">
        <h4>FileFate<span></span></h4>
        <h5>Quên mật khẩu</h5>
        @Html.TextBox("EmailID", "", new { @type = "text", @placeholder = "Email"})
        <p style="color:red;resize:15px;">@ViewBag.Message</p>
        <input type="submit" value="Gửi mail xác nhận" class="btn1">

    </form>
        }
        <a href="#" class="dnthave" style="padding-top:10px ;">Don’t have an account? Sign up</a>
    </div>
    <div class="footer">
    </div>
</div>