@model Nhom19_QuanLyLuuTruDienTu.models.Account
@{
    ViewBag.Title = "Index";
    Layout = "";
}
<link href="~/Content/Login.css" rel="stylesheet" />
<div class="animated bounceInDown">
    <div class="container">
        <span class="error animated tada" id="msg"></span>
        @using (Html.BeginForm("LoginAcc", "User", FormMethod.Post, new { @class = "box" }))
        {
            <form name="form1" class="box" action="">
                <h4>FileFate<span>Đăng nhập</span></h4>
                <h5>Điền tài khoản & mật khẩu</h5>
                <input type="text" name="username" placeholder="UserName" autocomplete="off">
                <i class="typcn typcn-eye" id="eye"></i>
                <input type="password" name="pass" placeholder="Passsword" id="pwd" autocomplete="off">

                <a href="/User/ForgotPassword" class="forgetpass" style="position:center">Forget Password?</a>
                <p style="color:red;resize:15px;">@ViewBag.ErrorInfo</p>
                <input type="submit" value="Sign in" class="btn1">
            </form>
        }
        <a href="/User/RegisterUser/" class="dnthave">Don’t have an account? Sign up</a>
    </div>
    <div class="footer">
    </div>
</div>
