@{

    Layout = "";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FileFate</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shorthandcss@1.1.1/dist/shorthand.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:200,300,400,500,600,700,800,900&display=swap" />
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <script src="~/Content/assets/js/script.js"></script>
</head>

<body class="bg-black muli">
    <nav class="w-100pc flex flex-column md-flex-row md-px-10 py-5 bg-black">
        <div class="flex justify-between">
            <a href="#" class="flex no-underline">
                <h2 class="white fs-l3 fw-900">File</h2>
                <h2 class="fs-l3 fw-900" style="color:#5A4FCF">Fate</h2>

            </a>
            <a data-toggle="toggle-nav" data-target="#nav-items" href="#"
               class="flex items-center ml-auto md-hidden indigo-lighter opacity-50 hover-opacity-100 ease-300 p-1 m-3">
                <i data-feather="menu"></i>
            </a>
        </div>
        <div id="nav-items" class="hidden flex sm-w-100pc flex-column md-flex md-flex-row md-justify-end items-center">
            <a href="#home" class="fs-s1 mx-3 py-3 indigo no-underline hover-underline">Home</a>
            <a href="#features" class="fs-s1 mx-3 py-3 indigo no-underline hover-underline">Features</a>
            <a href="#pricing" class="fs-s1 mx-3 py-3 indigo no-underline hover-underline">Pricing</a>
            <a href="#blog" class="fs-s1 mx-3 py-3 indigo no-underline hover-underline">Blog</a>
            <a href="/User/LoginUser" class="button bg-indigo white fw-600 no-underline mx-5">Sign In</a>
        </div>
    </nav>

    <!-- hero section -->
    <section class="relative bg-indigo-lightest-10">
        <div id="slider-1">
            <div class="p-10 md-p-l10 flex justify-center items-center flex-column text-center">
                <h2 class="white fs-l3 fw-900">Tải file ngay tại FileFate</h2>
                <p class="indigo-lightest fw-600 fs-m1 opacity-30 my-5">
                    Nhanh gọn,tốc độ,tiện ích
                </p>
                <a href="/Home/Index/" class="button-md bg-indigo white fs-s3 br-1 black fw-600 no-underline m-5">Upload File</a>
            </div>
            <div class="p-10 md-p-l10 flex justify-center items-center flex-column text-center">
                <h2 class="white fs-l3 fw-900">Tải file ngay tại FileFate</h2>
                <p class="indigo-lightest fw-600 fs-m1 opacity-30 my-5">
                    Nhanh gọn,tốc độ,tiện ích
                    <a href="/Home/Index/" class="button-md bg-indigo white fs-s3 br-1 black fw-600 no-underline m-5">Upload File</a>
            </div>
            <div class="p-10 md-p-l10 flex justify-center items-center flex-column text-center">
                <h2 class="white fs-l3 fw-900">Tải file ngay tại FileFate</h2>
                <p class="indigo-lightest fw-600 fs-m1 opacity-30 my-5">
                    Nhanh gọn,tốc độ,tiện ích
                    <a href="/Home/Index/" class="button-md bg-indigo white fs-s3 br-1 black fw-600 no-underline m-5">Upload File</a>
            </div>
        </div>
        <ul class="absolute list-none w-100pc flex justify-between top-50pc">
            <li>
                <button class="prev ml-10 br-round border-indigo-lightest indigo-lightest  bg-transparent flex justify-center items-center p-2 focus-indigo-lighter outline-none">
                    <i data-feather="chevron-left"></i>
                </button>
            </li>
            <li>
                <button class="next mr-10 br-round border-indigo-lightest indigo-lightest  bg-transparent flex justify-center items-center p-2  focus-indigo-lighter outline-none">
                    <i data-feather="chevron-right"></i>
                </button>
            </li>
        </ul>
    </section>

    <!-- features -->
    <section id="features" class="p-10 md-p-l5">
        <div class="flex flex-column md-flex-row mx-auto">
            <div class="w-100pc md-w-40pc">
                <div class="br-8 p-5 m-5">
                    <div class="flex justify-center items-center bg-indigo-lightest-10 white w-l5 h-l5 br-round mb-5">
                        <i data-feather="inbox" class="w-l5"></i>
                    </div>
                    <h4 class="white fw-600 fs-m3 mb-5">Storage</h4>
                    <div class="indigo-lightest fw-600 fs-m1 lh-3 opacity-50">
                        Lưu trữ tuyệt vời cùng FileFate,thỏa sức chứa.Bảo mật hoàn toàn
                        Miễn phí 1 GB. Nâng cấp lưu trữ lên 10 GB chỉ với 25.000 vnđ / tháng. Lưu trữ toàn bộ ảnh, file âm thanh, video của bạn.
                    </div>
                    <a href="#"
                       class="mt-5 button bg-indigo-lightest-10 fs-s3 white no-underline hover-opacity-100 hover-scale-up-1 ease-300">Xem thêm</a>
                </div>
            </div>
            <div class="w-100pc md-w-40pc">
                <div class="br-8 p-5 m-5">
                    <div class="flex justify-center items-center bg-indigo-lightest-10 white w-l5 h-l5 br-round mb-5">
                        <i data-feather="lock" class="w-l5"></i>
                    </div>
                    <h4 class="white fw-600 fs-m3 mb-5">Bảo mật</h4>
                    <div class="indigo-lightest fw-600 fs-m1 opacity-50">
                        Không chỉ chia sẻ và lưu trữ file, FileFate còn có khả năng làm nhiều thứ hơn thế.Bảo mật hoàn toàn không lo tập tin của bạn sẽ bị đánh cắp
                    </div>
                    <a href="#"
                       class="mt-5 button bg-indigo-lightest-10 fs-s3 white no-underline hover-opacity-100 hover-scale-up-1 ease-300">Xem thêm</a>
                </div>
            </div>
            <div class="w-100pc md-w-40pc">
                <div class="br-8 p-5 m-5">
                    <div class="flex justify-center items-center bg-indigo-lightest-10 white w-l5 h-l5 br-round mb-5">
                        <i data-feather="share-2" class="w-l5"></i>
                    </div>
                    <h4 class="white fw-600 fs-m3 mb-5">Chia sẻ</h4>
                    <div class="indigo-lightest fw-600 fs-m1 opacity-50">
                        Chia sẻ qua email, liên kết hoặc mạng xã hội. Download không giới hạn, không thời gian chờ đợi nhưng có kèm quảng cáo
                    </div>
                    <a href="#"
                       class="mt-5 button bg-indigo-lightest-10 fs-s3 white no-underline hover-opacity-100 hover-scale-up-1 ease-300">Xem thêm</a>
                </div>
            </div>
        </div>
    </section>


    <!-- pricing -->
    <section id="pricing">
        <div class="p-10 flex flex-wrap">
            <div class="w-100pc md-w-50pc">
                <div class="p-5">
                    <h4 class="white fw-800 fs-l3 mb-5">Nâng cấp ngay tài khoản</h4>
                    <div class="indigo-lightest fw-600 fs-m1 opacity-50">
                        Chỉ 3 bước dễ dàng để sở hữu tài khoản nâng cấp tại FileFate</br>
                        Còn chừng chờ gì nữa nâng cấp ngay
                    </div>
                    <h4 class="white fw-600 fs-m2 mt-10">Hãy chọn tin tưởng chúng tôi.</h4>
                </div>
            </div>
            <div class="w-100pc md-w-25pc">
                <div class="m-3 p-5 br-8 bg-indigo-lightest-10 overflow-hidden">
                    <div class="p-3">
                        <h3 class="indigo">Miễn Phí</h3>
                        <div class="white flex items-center"><span class="fs-l5 lh-1">0</span>VNĐ/tháng</div>
                    </div>
                    <div class="p-3 indigo-lightest fw-400 fs-s1 lh-5">
                        <div>
                            <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                            <span class="opacity-50">Không gian lữu trữ 1GB</span>
                        </div>
                        <div>
                            <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                            <span class="opacity-50">Lưu trữ dài hạn</span>
                        </div>
                        <div>
                            <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                            <span class="opacity-50">Liên kết trực tiếp tới file</span>
                        </div>
                    </div>
                    <div class="p-3">
                        <button class="button full bg-black white  hover-opacity-100 hover-scale-up-1 ease-300">
                            <a style="color:white" href="@Url.Action("LoginUser","User")">Trải nghiệm ngay</a>

                        </button>
                    </div>
                </div>
            </div>
            <div class="w-100pc md-w-25pc">
                <div class="m-3 p-5 br-8 bg-white overflow-hidden">
                    <div class="p-3">
                        <h3 class="indigo">Tài khoản nâng cấp - VIP</h3>
                        <div class="black flex items-center"><span class="fs-l5 lh-1">25.000</span>VNĐ/tháng</div>
                    </div>
                    <div class="p-3 black fw-400 fs-s1 lh-5">
                        <div>
                            <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                            <span class="opacity-50"> Không gian lữu trữ 10GB</span>
                        </div>
                        <div>
                            <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                            <span class="opacity-50">Lưu trữ dài hạn</span>
                        </div>
                        <div>
                            <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                            <span class="opacity-50">Liên kết trực tiếp tới file</span>
                        </div>
                    </div>
                    <div class="p-3">
                        <button class="button full bg-indigo white hover-opacity-100 hover-scale-up-1 ease-300">
                            <a style="color:white" href="@Url.Action("Payment","User")">Thanh toán</a>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- testimonials -->
    <section class="p-10 md-p-l5">
        <div id="slider-2">
            <div class="px-3">
                <div class="p-8 br-8 bg-indigo-lightest-10 relative">
                    <span class="fs-l5 lh-1 white opacity-10 absolute top-0 z--1">&#10077;</span>
                    <p class="fw-600 fs-m1 indigo-lightest opacity-80 italic ls-wider">
                        FileFate thật tuyệt vời,tui tin dùng FileFate mỗi khi cần lưu trữ file
                    </p>
                    <div class="flex items-center my-5">
                        <div class="block br-round border bc-black bw-4 w-l3 h-l3">
                            <img class="br-round"
                                 src="	https://randomuser.me/api/portraits/women/8.jpg" alt="">
                        </div>
                        <div class="ml-4 fs-s1">
                            <div class="indigo-lightest">Thị Hằng</div>
                            <div class="indigo-lightest opacity-20">Người dùng</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-3">
                <div class="p-8 br-8 bg-indigo-lightest-10 relative">
                    <span class="fs-l5 lh-1 white opacity-10 absolute top-0 z--1">&#10077;</span>
                    <p class="fw-600 fs-m1 indigo-lightest opacity-80 italic ls-wider">
                        Website quá tuyệt,bạn có thể lưu trữ mọi thứ ở trên này
                    </p>
                    <div class="flex items-center my-5">
                        <div class="block br-round border bc-black bw-4 w-l3 h-l3">
                            <img class="br-round"
                                 src="https://randomuser.me/api/portraits/men/3.jpg" alt="">
                        </div>
                        <div class="ml-4 fs-s1">
                            <div class="indigo-lightest">Đăng Khoa</div>
                            <div class="indigo-lightest opacity-20">Người dùng</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-3">
                <div class="p-8 br-8 bg-indigo-lightest-10 relative">
                    <span class="fs-l5 lh-1 white opacity-10 absolute top-0 z--1">&#10077;</span>
                    <p class="fw-600 fs-m1 indigo-lightest opacity-80 italic ls-wider">
                        Chất lượng thật tốt,lưu trữ trên FileFate khá là an toàn
                    </p>
                    <div class="flex items-center my-5">
                        <div class="block br-round border bc-black bw-4 w-l3 h-l3">
                            <img class="br-round"
                                 src="https://randomuser.me/api/portraits/men/4.jpg" alt="">
                        </div>
                        <div class="ml-4 fs-s1">
                            <div class="indigo-lightest">Tú Trường</div>
                            <div class="indigo-lightest opacity-20">Người dùng</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-3">
                <div class="p-8 br-8 bg-indigo-lightest-10 relative">
                    <span class="fs-l5 lh-1 white opacity-10 absolute top-0 z--1">&#10077;</span>
                    <p class="fw-600 fs-m1 indigo-lightest opacity-80 italic ls-wider">
                        Còn gì tuyệt vời hơn khi xài FileFate nữa,chấm cho website 10 điểm
                    </p>
                    <div class="flex items-center my-5">
                        <div class="block br-round border bc-black bw-4 w-l3 h-l3">
                            <img class="br-round"
                                 src="https://randomuser.me/api/portraits/men/46.jpg" alt="">
                        </div>
                        <div class="ml-4 fs-s1">
                            <div class="indigo-lightest">Văn Bùi</div>
                            <div class="indigo-lightest opacity-20">Doanh nghiệp</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- featured blog -->
    <!-- blog -->
    <section id="blog" class="p-0 md-p-5">
        <div class="flex flex-wrap">
            <div class="w-100pc md-w-33pc p-10">
                <a href="#" class="block no-underline p-5 br-8 hover-bg-indigo-lightest-10 hover-scale-up-1 ease-300">
                    <img class="w-100pc" src="assets/images/yoann-siloine-dyaxQ-aoGWY-unsplash.jpg" alt="">
                    <p class="fw-600 white fs-m3 mt-3">
                        FileFate là gì ? Tại sao lại chọn FileFate?
                    </p>
                    </br>
                    <div class="indigo fs-s3 italic after-arrow-right my-4">3 days ago by Jeff</div>
                </a>
            </div>
            <div class="w-100pc md-w-33pc p-10">
                <a href="#" class="block no-underline p-5 br-8 hover-bg-indigo-lightest-10 hover-scale-up-1 ease-300">
                    <img class="w-100pc" src="assets/images/fabrice-villard-Jrl_UQcZqOc-unsplash.jpg" alt="">
                    <p class="fw-600 white fs-m3 mt-3">
                        Tôi có thể Upload và quản lý file của mình như thế nào trên FileFate
                    </p>
                    <div class="indigo fs-s3 italic after-arrow-right my-4">3 days ago by Jeff</div>
                </a>
            </div>
            <div class="w-100pc md-w-33pc p-10">
                <a href="#" class="block no-underline p-5 br-8 hover-bg-indigo-lightest-10 hover-scale-up-1 ease-300">
                    <img class="w-100pc" src="assets/images/florian-klauer-mk7D-4UCfmg-unsplash.jpg" alt="">
                    <p class="fw-600 white fs-m3 mt-3">
                        Làm sao để tôi có thể nâng cấp tài khoản của mình trên FileFate
                    </p>
                    <div class="indigo fs-s3 italic after-arrow-right my-4">3 days ago by Jeff</div>
                </a>
            </div>

        </div>
    </section>

    <!-- subscribe -->
    <section class="p-10 md-p-l5">
        <div class="br-8 bg-indigo-lightest-10 p-5 md-p-l5 flex flex-wrap md-justify-between md-items-center">
            <div class="w-100pc md-w-33pc">
                <h2 class="white fs-m4 fw-800">Liên hệ với chúng tôi ngay</h2>
                <p class="fw-600 indigo-lightest opacity-40">
                    Nếu có thắc mắc hoặc góp ý gì xin vui lòng liên hệ chúng tôi.
                </p>
            </div>
            <div class="w-100pc md-w-50pc">
                <div class="flex my-5">
                    <input type="text"
                           class="input-lg flex-grow-1 bw-0 fw-200 bg-indigo-lightest-10 white ph-indigo-lightest focus-white opacity-80 fs-s3 py-5 br-r-0"
                           placeholder="Email Address">
                    <button class="button-lg bg-indigo indigo-lightest fw-300 fs-s3 br-l-0">Get Started</button>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="p-5 md-p-l5 bg-indigo-lightest-10">
        <div class="flex flex-wrap">
            <div class="md-w-25pc mb-10">
                <img src="assets/images/logo.png" class="w-l5" alt="">
                <div class="white opacity-70 fs-s2 mt-4 md-pr-10">
                    <p>
                        818 Sư Vạn Hạnh P.11 Quận 10

                        +00-62-658-658

                        filefate@gmail.com
                    </p>
                    <br>
                    <p>
                        Cám ơn đã tin tưởng và chọn FileFate.</br>
                        Rất mong được đồng hành cùng bạn
                    </p>
                </div>
            </div>
            <div class="w-100pc md-w-50pc">
                <div class="flex justify-around">
                    <div class="w-33pc md-px-10 mb-10">
                        <h5 class="white">Công ty FileFate</h5>
                        <ul class="list-none mt-5 fs-s2">
                            <li class="my-3">
                                <a href="#" class="white opacity-70 no-underline hover-underline">
                                    818 Sư Vạn Hạnh P.11
                                </a>
                            </li>
                            <li class="my-3">
                                <a href="#" class="white opacity-70 no-underline hover-underline">Giờ làm việc 9:00 -6:00</a>
                            </li>
                            <li class="my-3">
                                <a href="#"
                                   class="white opacity-70 no-underline hover-underline">+00-62-658-658</a>
                            </li>

                        </ul>
                    </div>
                    <div class="w-33pc md-px-10 mb-10">
                        <h5 class="white">Dịch vụ cung cấp</h5>
                        <ul class="list-none mt-5 fs-s2">

                            <li class="my-3">
                                <a href="#" class="white opacity-70 no-underline hover-underline">Quản lý folder</a>
                            </li>
                            <li class="my-3">
                                <a href="#"
                                   class="white opacity-70 no-underline hover-underline">Quản lý file</a>
                            </li>
                            <li class="my-3">
                                <a href="#" class="white opacity-70 no-underline hover-underline">Lưu trữ đám mây</a>
                            </li>
                        </ul>
                    </div>
                    <div class="w-33pc md-px-10 mb-10">
                        <h5 class="white">Hỗ trợ</h5>
                        <ul class="list-none mt-5 fs-s2">
                            <li class="my-3">
                                <a href="#" class="white opacity-70 no-underline hover-underline">
                                    Liên hệ
                                </a>
                            </li>
                            <li class="my-3">
                                <a href="#" class="white opacity-70 no-underline hover-underline">Cộng tác</a>
                            </li>
                            <li class="my-3">
                                <a href="#"
                                   class="white opacity-70 no-underline hover-underline">Việc làm</a>
                            </li>
                            <li class="my-3">
                                <a href="#" class="white opacity-70 no-underline hover-underline">Media</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="w-100pc md-w-25pc">
                <div class="flex w-75pc md-w-100pc mx-auto">
                    <input type="text"
                           class="input flex-grow-1 bw-0 fw-200 bg-indigo-lightest-10 white ph-indigo-lightest focus-white opacity-80 fs-s3 py-5 br-r-0"
                           placeholder="Email Address">
                    <button class="button bg-indigo indigo-lightest fw-300 fs-s3 br-l-0">Start</button>
                </div>
                <div class="flex justify-around my-8">
                    <a href="#" class="relative p-5 bg-indigo br-round white hover-scale-up-1 ease-400">
                        <i data-feather="twitter" class="absolute-center h-4"></i>
                    </a>
                    <a href="#" class="relative p-5 bg-indigo br-round white hover-scale-up-1 ease-400">
                        <i data-feather="facebook" class="absolute-center h-4"></i>
                    </a>
                    <a href="#" class="relative p-5 bg-indigo br-round white hover-scale-up-1 ease-400">
                        <i data-feather="instagram" class="absolute-center h-4"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <i class="w-4" data-feather="download"></i>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="assets/js/script.js"></script>
    000
</body>

</html>

<script>
    $(document).ready(function () {

        // toggle mobile menu
        $('[data-toggle="toggle-nav"]').on('click', function () {
            $(this).closest('nav').find($(this).attr('data-target')).toggleClass('hidden');
            return false;
        });

        // feather icons
        feather.replace();

        // smooth scroll
        var scroll = new SmoothScroll('a[href*="#"]');

        // tiny slider
        $('#slider-1').slick({
            infinite: true,
            prevArrow: $('.prev'),
            nextArrow: $('.next'),
        });

        $('#slider-2').slick({
            dots: true,
            arrows: false,
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            centerMode: true,
            customPaging: function (slider, i) {
                return '<div class="bg-white br-round w-1 h-1 opacity-50 mt-5" id=' + i + '> </div>'
            },
            responsive: [{
                breakpoint: 768,
                settings: {
                    slidesToShow: 1
                }
            },]
        });
    });
</script>